@font-face {
   font-family: 'nasalization-rg';
   font-display: swap;
   src: url('file:///C:/Users/johnc/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-27_145434/fonts/nasalization-rg/font.ttf');
}
